NODE_ENV=production
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE
SECRET_KEY_BASE=some_crypto_secure_rng_string
PUBLIC_EXAMPLE=some public env var
SECURE_AUTH_COOKIE=false
AI_GATEWAY_API_KEY=just mock this on tests
